
body {
    background-color:rgb(189, 189, 189);
}

form {
    width: 30em;
    max-width: 85%;
    padding: 5px; 
    border-radius: 5px;
    background-color: rgb(163, 161, 156);
    border:solid gray 1px;
    position: relative;
}


form > label  {
    display: grid; 
    grid-template-columns: 3fr 1fr 1fr 1fr;
    margin: 5px; 
    padding: 5px; 
    border-radius: 5px;
    background-color: rgb(123, 179, 216);
    border:solid gray 1px;
}

form:after {
    color:rgb(223, 248, 227);
    content: "vansklige spørsmål";
    position: absolute;
    right: 20px;
    top: -20px;
}