:root {
    --fyll:10px;
}




header {
    color: green;
    font-size: 1.2em;
    padding: var(--fyll);
    padding-bottom:20px;
}

article {
    font-size: 1.1em;
    padding: var(--fyll);
}

#liste {
    width: 90vw;
    min-height: 50vh;
    border:2px solid red;
}

<<<<<<< HEAD
.kunde {
=======
.land {
>>>>>>> a251895967f48aaf85f68e9ba57458344463d9b7
    background-color: whitesmoke;
}