#animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: svampebob 10s linear infinite;
}

 @keyframes svampebob {
    0% { top:80%; left: 0%; transform: rotate(10deg);}
    20% { top: 40%; left: 20%;transform: rotate(-360deg);}
    40% { top: 50%; left: 36%;transform: rotate(-160deg);}
    60% { top: 80%; left: 57%;transform: rotate(-360deg);}
    80% { top: 30%; left: 90%;transform: rotate(-760deg);}
    100% { top: 80%; left: 0%;transform: rotate(-360deg);}
    }