#animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: svampebob 10s linear infinite;
}

 @keyframes svampebob {
    0% { top:70%; left: 0%; transform: rotate(0deg);}
    20% { top: 70%; left: 20%;transform: rotate(0deg);}
    40% { top: 70%; left: 50%;transform: rotate(0deg);}
    60% { top: 70%; left: 70%;transform: rotate(0deg);}
    80% { top: 70%; left: 80%;transform: rotate(0deg);}
    100% { top: 70%; left: 0%;transform: rotate(-360deg);}
    }