
#sky {
background: linear-gradient(black, green, darkblue, lightblue, white);
width: 100%;
height: 50%;
display: grid;
grid-template-columns: repeat(13, 1fr);
grid-gap: 40px;
grid-auto-rows: minmax(40px, auto);
}

.star {
position:relative;
top: 0px;
left: 0px;
width: 10px;
height: 10px;
background-color: yellow;
border-radius: 50%;
animation: stjerneblink 1s alternate linear infinite;
}
@keyframes stjerneblink {
    0% {width:0px; height:0px; background-color: #ffffd2;}
    50% {width:1px; height:1px;}
    100% {width:0px; height:0px; background-color: white;}
    }
#snow {
position: relative;
width: 100%;
height: 20em;
background-image: url("snow-hills.jpg");
background-size: 1282px;
background-repeat: no-repeat; 
background-position-y: -630px;   
}

.santa {
    background-image: url("santa.gif");
    width: 100%;
    height: 20em;
    background-repeat: no-repeat;
    background-position: 60%;
}

#santa2 {
    position: absolute;
    left: -200px;
    background-image: url("santa2.gif");
    top:50px;
    width:500px;
    background-repeat: no-repeat;
    height: 200px;
    animation: drive 6s  linear infinite;
    background-size: 100%;

}

@keyframes  drive {
    0% {left: 150vw;}
    80% {left:0; top:10px;}
    100% {top: -200px;}
}

.pakke {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    animation: drop 2s ease-in-out;
    animation-fill-mode: forwards;
    background-image: url("julepakke.png");
    background-size: contain;
}
@keyframes drop {
 
    0% {top:100px; }
    100% {top:47%;}
}

.snow {
    position: absolute;
    left: 0px;
    top:0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: dale 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes dale {
    0% {top:0%; }
    100% {top:100%;}
}