#postmanKatt {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 90px;
    background:url('Bilder/postmanKatt.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: gaaTur 10s linear infinite;
}

 @keyframes gaaTur {
    0% { top:80%; left: 0%; transform: rotate(0deg);}
    23%{ top:80%; left: 90%; transform: rotate(-0deg);}
    24% { top:80%; left: 90%;transform: rotate(-0deg);}
    48% { top:0%; left: 90%;transform: rotate(-90deg);}
    74% { top: 0%; left: 0%;transform: rotate(-180deg);}
    75% { top: 0%; left: 0%;transform: rotate(-180deg);}
    80% { top: 0%; left: 0%;transform: rotate(-180deg);}
    99% { top: 80%; left: 0%;transform: rotate(-270deg);}
    100% { top: 80%; left: 0%;transform: rotate(-360deg);}
    }