.tittel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15%;
    color:firebrick;
    background-color: black;
    text-align: center;
    padding-top: 20px;
}

.innhold {
    position: absolute;
    top:30%;
    left: 0;
    width:100%;
    height: 70%;
    background-color:black;
    color:white;
    font-size:2em;
    padding:20px;
    
}
#bilde {
    position: absolute;
    top:15%;
    left:0;
    width: 100%;
    height: 15%;
    background-size: contain;
}

img {
    height:100%;
    width: 100%;

}
li {
   list-style-type: none;
   color: white;
}

li a {
    text-decoration: none;
    color: firebrick;
}

li a:hover {
    background-color: black;
    color: white;
}