.tittel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: skyblue;
}

.innhold {
    position: absolute;
    top:30%;
    left: 0;
    width:100%;
    height: 70%;
    background-color: lightgrey;
    color:white;
}
#bilde {
    position: absolute;
    top:15%;
    left:0;
    width: 100%;
    height: 15%;
    background-size: contain;
}

img {
    height:100%;
    width: 100%;

}