form {
    position: relative;
    width: 35em;
    max-width: 85%;
    padding: 5px;
    border-radius: 5px;
    border: solid gray 1px;
    background-color: skyblue;
}



form > label {
    display: grid;
    grid-template-columns: 7fr 4fr;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid gray 1px;
    background-color: mistyrose;
}




form::after {
    color:blue;
    content: "Bestilling";
    position: absolute;
    right: 20px;
    top: -20px;
}

#lagre {
    background-color: antiquewhite;
}

.elektroting{
    display:none;
}
.klerting{
    display: none;
}

.brusting{
    display: none;
}

table {
    cursor: text;
  }
  tr {
    background-color:white;
  }
  td {
    font-size: 14;
    cursor: default;
  }
  
  td.selected {
    background-color: green;
  }
  