
body {
    background-color:rgb(148, 240, 194);
}

form {
    width: 30em;
    max-width: 85%;
    padding: 5px; 
    border-radius: 5px;
    background-color: blueviolet;
    border:solid gray 1px;
    position: relative;
}



form > label  {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    margin: 5px; 
    padding: 5px; 
    border-radius: 5px;
    background-color: blanchedalmond;
    border:solid gray 1px;
}

form:after {
    color:blue;
    content: "Konvertering";
    position: absolute;
    right: 20px;
    top: -20px;
}