#space {
    display: grid;
    grid-template-columns: 16fr 12fr 10fr 8fr 6fr 5fr 4fr 3fr 2fr 1fr 2fr 3fr 4fr 5fr 6fr 8fr 10fr 12fr 16fr;
    grid-gap: 10px;
    background-color: darkblue;
}
div.ani {
    background-image: url("b12.jpg");
    background-size: contain;
    background-position: center;
    min-height: 30px;
    background-repeat: no-repeat;
    animation: fly 8s infinite alternate;
    transform: scale(1) rotate(0);
}

@keyframes fly {
    100%{transform: scale(1.2) rotate(10turn)}
}

div.ani:hover {
    animation-play-state: paused;
}