.tittel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15%;
    color:firebrick;
    background-color: black;
    text-align: center;
    padding-top: 20px;
}

#innhold {
    position: absolute;
    top:17%;
    left: 0;
    width:100%;
    min-height: 100%;
    background-color:white;
    color:white;
    font-size:2em;
    padding:20px;
}
.nabo {
    position: absolute;
    top:0;
    left: 0;
    width:12%;
    height: 20%;
    background-color:black;
    font-size:1em;
    padding:20px;
}
#bilde {
    position: absolute;
    top:0%;
    left:0;
    width: 100%;
    height: 15%;
    background-size: contain;
}

img {
    height:100%;
    width: 100%;

}
li {
   list-style-type: none;
   color: firebrick;
}

li a {
    text-decoration: none;
    color: firebrick;
}

li a:hover{
    background-color: white;
    color: black;
}
#tv {
    position: fixed;
    top: 40%;
    left:60%;
    width: 300px;
    height:200px;
}
#intro {
    position: fixed;
    top: 40.3%;
    left:60.1%;
    width: 297px;
    height:168px;
}


#nabohoyre {
    position: absolute;
    left: 80%;
    top: 5px;
    text-decoration: none;
}



#nabohoyre li {
    display: block;
}

#nabohoyre li a {
    text-decoration: none;
    margin: 20px;
    text-align: center;
    height: 2em;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.3em;
}

#nabovenstre {
    position: absolute;
    left: 10px;
    top: 5px;
    text-decoration: none;
}

#nabovenstreli {
    display: block;
}

#nabovenstre li a {
    text-decoration: none;
    margin: 20px;
    text-align: center;
    height: 2em;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.3em;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: firebrick;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  
  
  
  
  .button:hover {
    padding-right: 25px;
    background-color: firebrick;
    color: white;

  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }