#bane{
    border: solid greenyellow 5px;
    width: 800px;
    height: 600px;
    position: absolute;
    background-image: url("track.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#bil {
    position: relative;
    left: 50px;
    top: 200px;
    width: 20px;
    height: 50px;
    border-radius: 5px;
    border: solid rgb(251, 255, 8) 2px;
    background-color: rgb(72, 43, 92);
}
#vindu {
        position: absolute;
       
        width: 16px;
        height: 10px;
        border-radius: 5px;
        border: solid fuchsia 2px;
        background-color: aqua;
    
}