#avatar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
    border: 1px solid black;
    height: 50vh;
}

#avatar > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

div div div:nth-of-type(1) {
    background-image: url(Bilder/aa00.png);
}
div div div:nth-of-type(2) {
    background-image: url(Bilder/aa01.png);
}
div div div:nth-of-type(3) {
    background-image: url(Bilder/aa02.png);
}
div div div:nth-of-type(4) {
    background-image: url(Bilder/aa03.png);
}
div div div:nth-of-type(5) {
    background-image: url(Bilder/aa04.png);
}
div div div:nth-of-type(6) {
    background-image: url(Bilder/aa05.png);
}
div div div:nth-of-type(7) {
    background-image: url(Bilder/aa06.png);
}
div div div:nth-of-type(8) {
    background-image: url(Bilder/aa07.png);
}
div div div:nth-of-type(9) {
    background-image: url(Bilder/aa08.png);
}
div div div:nth-of-type(10) {
    background-image: url(Bilder/aa09.png);
}
div div div:nth-of-type(11) {
    background-image: url(Bilder/aa10.png);
}
div div div:nth-of-type(12) {
    background-image: url(Bilder/aa11.png);
}
div div div:nth-of-type(13) {
    background-image: url(Bilder/aa12.png);
}
div div div:nth-of-type(14) {
    background-image: url(Bilder/aa13.png);
}
div div div:nth-of-type(15) {
    background-image: url(Bilder/aa14.png);
}
div div div:nth-of-type(16) {
    background-image: url(Bilder/aa15.png);
}

div div div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: Green;
}
