#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
   h1 {
       text-align: center;
       background-color: rgba(2, 5, 5, 0.27);
       color: white;
   }
   body {
    background: url(bilder/hacker.jpg);
    position: absolute;
    background-repeat:repeat;
    background-size: cover;
    z-index: 1; 
}
   a {

color:white;
padding: 1em;
   }
    #main div {
    background:#1b8df2;
    min-width: 20em;
    min-height: 20em;
    margin: 1em;
    padding: 0.5em;
    }

    .animation {
        border-radius: 50%;
        border:solid 6px pink;
        border-bottom:transparent;
        border-left: transparent;
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        animation: spinner 4s  infinite;
    }
    
     @keyframes spinner {
        0% { top:5%; left: 0%; transform: rotate(-0deg);}
        100% { top:5%; left: 0%;transform: rotate(-2880deg);}

        }