body {
    background: url(bilder/hacker.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; 
}

h1 {
    font-size: 2em;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: black;
    justify-content: center;
    margin-left:0;
    width: 200px;
}

li a {
    display: block;
    color: #1b8df2;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #1b8df2;
    color: white;
}


ul {
    border: 1px solid #1b8df2;
}

li {
    text-align: center;
    border-bottom: 1px solid #1b8df2;
}

li:last-child {
    border-bottom: none;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-ietween;
    }
    #main div {
    background: red;
    width: 20em;
    height: 20em;
    margin: 1em;
    }

